# Temporary files
.*.swp
*.pyc
*.pyo

# Dev-related files
django_authgroupex_dev/db.sqlite3
django_authgroupex_dev/private/

# Build-related files
doc/_build/
.coverage
*.egg-info
build/
dist/
htmlcov/
MANIFEST
